<div>
    <label for="isbn" class="block text-sm font-medium text-gray-700">ISBN</label>
    <input type="text" name="isbn" id="isbn" autocomplete="given-name"
           class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
</div>

<div>
    <label for="stock-new" class="block text-sm font-medium text-gray-700">Stock new</label>
    <input type="number" name="stock-new" id="stock-new" autocomplete="given-name"
           class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
</div>

<div>
    <label for="stock-used" class="block text-sm font-medium text-gray-700">Stock used</label>
    <input type="number" name="stock-used" id="stock-used" autocomplete="given-name"
           class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
</div>

<div class="mt-4">
    <button id='form-action' type="button"
            class="inline-flex items-center px-4 py-2 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-purple-600 hover:bg-purple-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-purple-500">
    </button>
</div>