<div>
    <label for="first-name" class="block text-sm font-medium text-gray-700">First name</label>
    <input type="text" name="first-name" id="first-name" autocomplete="given-name"
           class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
</div>

<div>
    <label for="first-name" class="block text-sm font-medium text-gray-700">Last name</label>
    <input type="text" name="first-name" id="first-name" autocomplete="given-name"
           class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
</div>

<div class="mt-4 flex">
    <button id='form-action' type="button"
            class="inline-flex items-center px-4 py-2 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-purple-600 hover:bg-purple-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-purple-500">
    </button>
</div>
