<head>
    <title>PAW</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/compiled.css' />
    <script src="/javascripts/auth.js"></script>
    <script src="/javascripts/helpers.js"></script>
    <script src="/javascripts/books.js"></script>
    <script src="/javascripts/customers.js"></script>
    <script src="/javascripts/employees.js"></script>
    <script src="/javascripts/purchases.js"></script>
</head>